<footer class="footer">
	<small>
		<a href="123123.html">rails tttt</a>
		by abc
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact","#"%></li>
			<li><%= link_to "News","123.html"%></li>
		</ul>
	</nav>
	
</footer>
